.none {
    display:none;
}

.full {
    width:100%;
}

.form-group{
    padding-left:25px;
    padding-right:25px;
}

.push-top-down-lg {
    margin-top: 4em;
}

.push-top-down-md {
    margin-top: 2em;
}

.push-top-down-sm {
    margin-top: 1em;
}

.push-bottom-down-lg{
    margin-bottom: 4em;
}

ul li {
    margin-top:1.5em;
    margin-bottom:1.5em;
}